<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <nav class="header-nav">
            <ul class="header-items-list">
                <li><a class="header-item" href="/">Shop</a></li>
                <li><a class="header-item" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <form action="/admin/add-product" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title">
            <button type="submit">Add Product</button>
        </form>
    </main>
    
</body>
</html>