extends ../layouts/main-layout.pug

block content
    main.main
        h1.main-heading My Products
        if hasProduct
            each product in prods
                .card
                    .card-header #{product.title}
                    .card-img
                        img(src="#{product.imageUrl}")
                    .card-description #{product.description}
                    .card-price $ #{product.price}
                    .card-footer 
                        a(href="/admin/edit-product", class="btn") Edit 
                        form(action="/admin/delete-product")
                            button.btn(type="submit") Delete 
        else 
            h2 No Products Yet