<header class="header">
    <nav class="header-nav">
        <ul class="header-items-list">
            <li><a class="header-item <%= path === '/' ? 'active' : '' %>" href="/">Shop</a></li>
            <li><a class="header-item <%= path === '/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>