doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        header.header 
            nav.header-nav 
                ul.header-items-list 
                    li 
                        a(href="/", class=(path === "/" ? "active" : "")).header-item Shop 
                    li
                        a(href="/products", class=(path === "/products" ? "active" : "")).header-item Products 
                    li
                        a(href="/orders", class=(path === "/orders" ? "active" : "")).header-item Order
                    li
                        a(href="/cart", class=(path === "/cart" ? "active" : "")).header-item Cart
                    li
                        a(href="/admin/add-product", class=(path === "/add-product" ? "active" : "")) Add Product
                    li
                        a(href="/admin/products", class=(path === "/admin/products" ? "active" : "")) Edit Products
        block content