<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <%- include("../partials/navigation.ejs"); %>
    <main class="main">
        <h1 class="main-heading">My Products</h1>
        <% if(prods.length > 0){ %>
            <% for(let product of prods){ %>
                <h2><%= product.title %></h2>
            <% } %>
            
        <% } else { %>
            <h2>Products Not Found</h2>
        <% } %>

    </main>
</body>
</html>